{% extends 'admin/base.html.twig' %}

{% block title %}提现申请{% endblock %}

{% block content %}
<div {{ vue_component('admin/WithdrawalList', {
    'adminLoginPath': app.request.get('adminLoginPath')
}) }}></div>
{% endblock %}