{% extends 'base.html.twig' %}

{% block title %}直发商品 - Saleyee{% endblock %}

{% block initialState %}
    products: {{ products|raw }},
{% endblock %}

{% block content %}
<div class="min-h-screen bg-slate-50">
    <direct-delivery-page 
        :products="window.__INITIAL_STATE__.products">
    </direct-delivery-page>
</div>
{% endblock %}
