{% extends 'base.html.twig' %}

{% block title %}热销商品 - Saleyee{% endblock %}

{% block initialState %}
    products: {{ products|raw }},
{% endblock %}

{% block content %}
<div class="min-h-screen bg-slate-50">
    <hot-sales-page 
        :products="window.__INITIAL_STATE__.products">
    </hot-sales-page>
</div>
{% endblock %}
